
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Flog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if session['login']==False %}:
      <li><a href="/login/">Login</a></li>      
      <li><a href="/register/">Register</a></li>    
      {% else %}
      <li><a href="/logout/">Logout</a></li> 
      <li><a href="/myblogs/">My Blogs</a></li>
      <li><a href="/write-blog/">Write a new blog</a></li>
      {% endif %}
    </ul>
  </div>
</nav>