{% extends 'base.html' %}


{% block sub_content %}

<div class = "text-center">


        <div class = "container" id = "legend">
            <legend class="text-center"><h1>Available blogs</h1></legend>
        </div>

        <div class = "container">

        {% if blogs %}
            {% for blog in blogs %}
                <h3><a href = "/blogs/{{ blog[0] }}">{{blog[1]}}</a></h3>
                <h5>Written by {{blog[2]}}</h5>
            {% endfor %}

        {% else %}
            <h3>No available blogs!</h3>

        {% endif %}
        <!-- <img src="{{url_for('static', filename='images/bgimg.jpg')}}" /> -->
        </div>

    </div>

{% endblock %}

